body {
  background-color: #333;
  margin: 0;
}
h3 {
  color: white;
  text-align: center;
  font-size: 18px;
}
p {
  color: white;
}
/* * {
  box-sizing: border-box;
}
#painelDeJogos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

} */
.logoJogo{
  width: auto;
}


.row{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column1{
  width: 33,3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column2{
  width: 33,3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.column3{
  width: 33,3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* .column {
  /* float: left; 
  width: 33.33%;
  padding: 5px;
}

Clearfix (clear floats)
.row::after {
  padding: 50px;
  content: "";
  clear: both;
  display: table;
}  */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #B8000C;
   color: white;
   text-align: center;
}
.container{
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);  
}


/*inicio da responsividade*/

@media screen and (min-width: 780px) and (max-width: 980px) {

  .painelJogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .row {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .column1, .column2, .column3 {
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 581px) and (max-width: 780px) {


  .painelJogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .row {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .column1, .column2, .column3 {
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {


  .painelJogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .row {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .column1, .column2, .column3 {
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 430px) and (max-width: 479px) {

  .painelJogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .column1, .column2, .column3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 330px) and (max-width: 478px) {

  .painelJogos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }

  .row {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .column1, .column2, .column3 {
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}